## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access plus 1 year"
ExpiresByType image/jpeg "access plus 1 year"
ExpiresByType image/gif "access plus 1 year"
ExpiresByType image/png "access plus 1 year"
ExpiresByType text/css "access plus 1 month"
ExpiresByType application/pdf "access plus 1 month"
ExpiresByType text/x-javascript "access plus 1 month"
ExpiresByType application/x-shockwave-flash "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 year"
ExpiresDefault "access plus 2 days"
</IfModule>
## EXPIRES CACHING ##

<FilesMatch "^(web_header|web_footer|foongsey|footer|header|connect|cron)\.php$">
        Order Deny,Allow
        Deny from all
        Allow from localhost
</FilesMatch>

<IfModule mod_rewrite.c>
RewriteEngine On
Options -Indexes
Options +FollowSymLinks -MultiViews
RewriteBase /
ErrorDocument 404 /404.php

RewriteRule ^([a-zA-Z0-9_/-]+)?$ /index.php?params=$1 [NC,L]

</IfModule>
